.layout__body {
    display: grid;
    grid-template-columns: 240px minmax(0, 1fr) 160px;
    min-height: calc(100vh - 64px);
}
// @media (max-width: 1024px) {
//     .layout__body {
//         grid-template-columns: 200px minmax(0, 1fr) 140px;
//     }
// }

// @media (max-width: 768px) {
//     .layout__body {
//         grid-template-columns: 180px minmax(0, 1fr);
//     }
// }

// @media (max-width: 600px) {
//     .layout__body {
//         grid-template-columns: 1fr;
//     }
// }